/**
 * Main Site Styles
 * created 2016-04-27
 */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Raleway", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 1.85rem;
}

h3 {
  color: #999;
}

p, li {
  line-height: 1.45rem;
}

a, span {
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #2780e3;
  color: white;
  padding: 0.5rem 1rem;
}

.button:hover {
  background-color: #4D96E8;
}

li {
  margin: 0.5rem 0;
}

/*
 * Header
 */

app-header {
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.flag {
  height: 145px;
}

.logo {
  display: block;
  max-height: 125px;
}

app-drawer .logo {
  height: auto;
  max-width: 90%;
  margin: 1rem auto;
}

.slogan {
  font-size: 17px;
  font-weight: 200;
  margin: 0.5rem 0 0.25rem 0;
  color: #999;
}

a.active {
  color: #e14726 !important;
}

.navbar a {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  color: #212121;
  font-weight: bold;
  font-size: .9rem;
  line-height: 1rem;
}

/*
 * Drawer
 */

app-drawer {
  border-right: 1px solid #ddd;
}

app-drawer a {
  display: block;
  padding: 1rem;
  color: #212121;
  border-bottom: 1px solid #ddd;
}

/*
 * Content
 */

.content {
  padding: 0 1rem;
  max-width: 750px;
  margin: 0 auto;
}

.content img {
  display: block;
  max-width: 100%;
  height: auto;
}

article, hr {
  margin: 3rem auto;
}

article:first-of-type {
  margin-top: 1rem;
}

aside {
  float: left;
  max-width: 400px;
  margin: 0 1rem 1rem 0;
}

aside.right {
  float: right;
  margin: 0 0 1rem 1rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

small {
  font-size: .65em;
}

/**
 * Ephemeral styles
 */

.sponsor-logos div {
  padding: 1rem 0;
}

/**
 * Mobile styles
 */

@media (max-width: 600px) {
  .flag {
    height: 64px;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .logo {
    height: 50px;
  }

  aside {
    float: none;
    max-width: 100%;
    margin: 1rem auto;
  }
}

